page-home {
    #hey{

        background: url('../../assets/imgs/brown.jpg');
        background-size: cover;
        background-position: center;
        margin-top: auto;
        margin-bottom: auto;
        display: block;

    }


    h1{
        text-align: center;
        margin-top: 100%;
        position: bottom;
        padding-bottom: 50%;
        font-family: monotype-corsiva;
        color:darkolivegreen;
    }
}
